body {
    background-color: black;
}

img {
    height: 200px;
    width: 200px;
    margin-top: 10%;
    border-radius: 60%;
    filter: blur(10px);                
    transition: transform 0.3s ease;  
}

img:hover {
    cursor: pointer;
    transform: scale(1.1);
    filter: blur(0px);                 
}
